<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Application Update</title>
    </head>

    <body style="font-family: Arial; background-color: #f5f5f5; padding: 20px">
        <div style="background: white; padding: 20px; border-radius: 10px">
            <h2 style="color: red">Application Update</h2>

            <p>Hello <strong th:text="${studentName}"></strong>,</p>

            <p>Thank you for applying for:</p>

            <h3 th:text="${jobTitle}"></h3>

            <p>Unfortunately, you were not selected this time.</p>

            <p>We encourage you to apply again.</p>

            <hr />

            <p>Smart AI Job Portal</p>
        </div>
    </body>
</html>
